<div mat-dialog-content>
  <h2 mat-dialog-title>
    In some instances, the "Image to Text" functionality does not work correctly. <br>
    I am no longer endorsing or supporting this version. <br>
    The upcoming release from Elphago is expected in two weeks (<a href="https://www.reddit.com/r/lostarkgame/comments/198mj3z/about_elphago_for_na_lostark/">Reddit post</a>). <br>
    Once the Elphago project is translated, I will redirect to his project.<br>
    The Elphago version will feature improved accuracy and new functionalities.<br>
    16:9 is only 90% supported.<br>
  </h2>
  <p>Elixir Assistant does not guarantee desired results within a certain number of attempts.</p>
  <p>
    The scores provided are only indicators to help users make decisions, and the final judgment must be made by the user.
  </p>
  <p i18n>
    The scores for max/minimum related advice such as “divide all 1 level of the highest level effect among other effects” and “increase 1 level of the minimum level effect by 2” may be inaccurate.
  </p>
</div>
<div mat-dialog-actions>
  <button (click)="confirm()" color="primary" mat-flat-button i18n>Continue</button>
</div>
