<h1 mat-dialog-title>Caution</h1>
<div mat-dialog-content>
  <p>Elixir Assistant does not guarantee desired results within a certain number of attempts.</p>
  <p>
    The scores provided are only indicators to help users make decisions, and the final judgment must be made by the user.
  </p>
  <p i18n>
    The scores for max/minimum related advice such as “divide all 1 level of the highest level effect among other effects” and “increase 1 level of the minimum level effect by 2” may be inaccurate.
  </p>
</div>
<div mat-dialog-actions>
  <button (click)="confirm()" color="primary" mat-flat-button i18n>Continue</button>
</div>
