<div mat-dialog-content>
  <h2 mat-dialog-title>
    Sometimes image to text doesn't read 100%, in these cases, send me a printscreen (discord: tostamista) and i will fix it in 24hours.<br>
    My project is a fork of the first version project (icepeng + elphago) from 2023.<br>
    The final elphago project is better and he currently translating to support our version, which may take a while.<br>
    When elphago project is translated, I will redirect to his project.<br>
  </h2>
  <p>Elixir Assistant does not guarantee desired results within a certain number of attempts.</p>
  <p>
    The scores provided are only indicators to help users make decisions, and the final judgment must be made by the user.
  </p>
  <p i18n>
    The scores for max/minimum related advice such as “divide all 1 level of the highest level effect among other effects” and “increase 1 level of the minimum level effect by 2” may be inaccurate.
  </p>
</div>
<div mat-dialog-actions>
  <button (click)="confirm()" color="primary" mat-flat-button i18n>Continue</button>
</div>
